@font-face {
    font-family: "RobotoSlab-Regular";
    src: url('./font/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: "RobotoSlab-Bold";
    src: url('./font/RobotoSlab-Bold.ttf');
}

:root {
    --cps-vermelho-principal: #B20000;
    --cps-vermelho-escuro: #7E0000;

    --cps-cinza-principal: #383636;
    --cps-cinza-sub: #858585;
    --cps-cinza-claro: #DADADA;
    --cps-cinza-hover: #E6E6E6;
    --cps-prata-base: #F8F8F8;
}


/* TUDO RELACIONADO AO NAV */
nav {
    background-color: var(--cps-vermelho-principal);
}

nav a[class="nav-link"] {
    color: var(--cps-prata-base);
    font-family: 'RobotoSlab-Bold';
    font-size: 16pt;
}
nav a[class="nav-link"]:hover {
    color: var(--cps-cinza-hover);
}


/* MAIN */
main {
    text-align: center;
}

main .carousel-section {
    max-width: 70em;
}


/* TEXTOS */
h1 {
    font-family: 'RobotoSlab-Bold';
    color: var(--cps-cinza-principal);
}

h2, h3, h4 {
    font-family: 'RobotoSlab-Regular';
    color: var(--cps-cinza-sub);
}

p {
    color: var(--cps-cinza-principal);
}

/* CARDS E CARD-GROUPS */
.botoes-ano .card-footer {
    background-color: var(--cps-vermelho-principal);

}

.botoes-ano .card-title {
    color: var(--cps-cinza-principal);
}

.card-footer a {
    color: var(--cps-prata-base);
}